:root{
    --primario: #138a4f;
    --gris: #e1e1e1;
    --blanco: #FFFFFF;
    --negro: #000000;
}
html{
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after{
    box-sizing: inherit;
}
body{
    font-size: 1.6rem;
    line-height: 2;
}

.navbar-item{
    text-decoration: none;
    color: #fff;
    
}

.nav-list{
    text-decoration: none;
}


.header{
    width: 100%;
    height: 100%;
    background-color: #379777;
    display: flex;
    flex-direction: column;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}