@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --primario: #379777;
    --gris: #e1e1e1;
    --blanco: #FFFFFF;
    --negro: #000000; 

    --fuentePrincipal: "Montserrat", system-ui;
}
/*Estilos globales*/
html{
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after{
    box-sizing: inherit;
}
h1, h2, h3, h4, p{
    font-family: var(--fuentePrincipal);
}
body{
    font-size: 1.6rem;
    line-height: 2;
}

/*Navegacion*/
.navbar-item{
    text-decoration: none;
    color: #fff;
    
}

.nav-list{
    text-decoration: none;
}
/*Header*/
.header{
    width: 100%;
    height: 100%;
    background-color: var(--primario);
    display: flex;
    flex-direction: column;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

/*Banner*/
.banner{
    background-color: var(--gris);
    display: grid;
    grid-template-areas: 
    "titulo         titulo"
    "alternativo    imagen";
    flex-direction: column;
}

.banner-titulo{
    margin: 0;
    text-align: center;
    grid-area: titulo;
}
.alternativo{
    grid-area: alternativo;
    color: var(--primario);
}

.banner-imagen{
    width: 80%;
}